.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

/////repos
.repos {
  width: 80rem;
  margin: 0 auto;
}
.repos__header,
.repos__list {
  display: flex;
}
.repos__header {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.repos__list {
}
.repo__param {
  padding: 10px 0px;
  width: 30%;
  text-align: left;
}
